<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Log In | Hyper - Responsive Bootstrap 4 Admin Dashboard</title>

</head>

<body>
<h1>LOGIN PAGE</h1>

<#--<h1>Current user name: ${currentUser.getUsername()!}</h1>-->

<p>==============================================================</p>

<h2><a href="/logout">LOGOUT</a></h2>


</body>
</html>
