<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Log In | Hyper - Responsive Bootstrap 4 Admin Dashboard</title>

</head>

<body>
<h1>LOGOUT</h1>



<p>==============================================================</p>

<h2><a href="/logout">LOGOUT</a></h2>


</body>
</html>
